# /* cSpell:disable */

# app variables
PORT=
# Debug mode for showing proper error message (true,false)
DEBUG=
# API meta data variables (production, development, staging, local)
TAG=
# provide the value in min (20)
OTP_EXPIRY=

JWT_SECRET=
JWT_EXPIRY=

# DB variables
MONGO_URI=

# email vars
EMAIL_ID=
EMAIL_PASSWORD=

# provide the value in min (20)
TOKEN_EXPIRY_TIME=

# cors origin (add all other origins)
CORS_ORIGIN=["http://localhost:3000"]

# http://localhost:3000
DASHBOARD_URL=