# /* cSpell:disable */
# Ignore node_modules directory
node_modules/

# Ignore build
dist/

# Ignore environment variables file
.env

# Ignore macOS system files
.DS_Store

# Ignore PostgreSQL data directory
pgdata/

# Ignore logs
logs/

# Ignore any npm debug log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# temp files
temp/*
!temp/.gitkeep

# seeder files
data/*
!data/.gitkeep

# public dir for static file serving
public/*/*
!public/*/.gitkeep